.restaurants 
{
    display: grid;
    h2 
    {
        font-size: 40px;
        font-weight: 700;
        text-align: center;
    }

    .top 
    { 
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        .image-text
        {
            width: 100%;
            max-width: 208px;
            text-align: center;
            position: relative;
            cursor: pointer;
        
             img 
             {
                    max-width: 128px;
                    width: 100%;
                    height: auto;
                    aspect-ratio: 1;
                    border-radius: 50% 50% 50% 50%;
             }
             .text 
             {
                position: relative;
                margin-top: calc(16px*-1);
                h3 
                {
                    font-size: 16px;
                    line-height: 1.4;
                    font-weight: 700;
                    // color: var(--helio-color-primaryText);
                    // word-wrap: "anywhere";
                    display: inline;
                    border-radius: 8px;
                    background-color:#ffc244;
                    margin: 16px 0px;
                    padding: 4px 12px;
                }
             }
        }
    }

    .bottom
    {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        .image-text
        {
            width: 100%;
            max-width: 208px;
            text-align: center;
            position: relative;
            cursor: pointer;
        
             img 
             {
                    max-width: 128px;
                    width: 100%;
                    height: auto;
                    aspect-ratio: 1;
                    border-radius: 60% 60% 60% 60%;
             }
             .text 
             {
                position: relative;
                margin-top: calc(16px*-1);
                h3 
                {
                    font-size: 16px;
                    line-height: 1.4;
                    font-weight: 700;
                    // color: var(--helio-color-primaryText);
                    word-wrap: anywhere;
                    display: inline;
                    border-radius: 8px;
                    background-color:#ffc244;
                    padding: 4px 12px;
                }
             }
        }
    }
}